body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body::after{
    content: "";
    background-image: url("img/Avatar.jpg");
    background-size: 50px;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.banner{
    width: 100vw;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(76,175,80,1) 100%);
    font-size: 40px;
}

#banneravatar{
    border: black 1px solid;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.header {
    height: 52px;
    width: 100vw;
    background-color: #4CAF50;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropbtn {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
